.container .filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid;
    border-color: #DDDDDD;
    position: relative;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: none;
    position: absolute;
    right: 30px;
    top: 15px;
}

.filters div {
    display: inline-grid;
    position: relative;
    height: 100%;
    line-height: 5px;
    width: 100%;
}

.filters .locations {
    width: 25%;
    border-right: 1px solid;
    border-color: #DDDDDD;
}


.filters .amenities {
    width: 25%;
}

.locations {
    border-right: 1px solid;
    border-color: #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    text-indent: 40px;
    margin-top: 30px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    text-indent: 40px;
    margin-top: -1%;
}

.popover {
    visibility: hidden;
    position: absolute;
    border-radius: 4px;
    margin: -1%;
    padding: 0;
    border: 1px solid;
    border-color: #DDDDDD;
    width: 100%;
    background-color: #FAFAFA;
}

.popover ul {
    list-style: none;
    line-height: 20px;
    list-style-type: none;
}

.amenities:hover .popover,
.locations:hover .popover {
    visibility: visible;
    z-index: 100;
}


button:hover {
    opacity: 0.9;
}
